@model Task5.WEB.Models.OrderListViewModel

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="get">
    <div class="form-inline">
        <label class="control-label">Manager: </label>
        @Html.DropDownList("manager", Model.Managers as SelectList,
                    htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Client: </label>
        @Html.DropDownList("client", Model.Clients as SelectList,
                htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Product: </label>
        @Html.DropDownList("product", Model.Products as SelectList,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Filter" class="btn btn-secondary" />
    </div>
</form>

<table class="table">
    <tr>
        <th>
            Client lastname
        </th>
        <th>
            Product
        </th>
        <th>
            Price
        </th>
        <th>
            Manager lastname
        </th>
        <th>
            Date
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-secondary" })
            </td>
        </tr>
    }

</table>  
