@model Task5.WEB.Models.OrderListViewModel

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="get">
    <div class="form-inline">
        <label class="control-label">Manager: </label>
        @Html.DropDownList("manager", Model.Managers as SelectList,
                    htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Client: </label>
        @Html.DropDownList("client", Model.Clients as SelectList,
                htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Product: </label>
        @Html.DropDownList("product", Model.Products as SelectList,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<table class="table">
    <tr>
        <th>
            Price
        </th>
        <th>
            Date
        </th>
        <th>
            Manager Id
        </th>
        <th>
            Client Id
        </th>
        <th>
            Product Id
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model.Orders)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.ActionLink("Info", "GetOrderInfo", new { id = item.Id })
        </td>
    </tr>
    }

</table>
