@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="text-align:center">
        @Html.ActionLink("Clients", "Index", "Client", null, new { @class = "btn btn-secondary" })
        @Html.ActionLink("Managers", "Index", "Manager", null, new { @class = "btn btn-secondary" })
        @Html.ActionLink("Products", "Index", "Product", null, new { @class = "btn btn-secondary" })
        @Html.ActionLink("Orders", "Index", "Order", null, new { @class = "btn btn-secondary" })
    </div>
</body>
</html>
