<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container body-content">
        @if (User.Identity.IsAuthenticated)
        {
            <input type="button" value="Logout" onclick="location.href='@Url.Action("Logout", "Home")'" />
        }
        <header>
            <p style="text-align: center;
        font-style: oblique;
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
        text-decoration: underline">@ViewBag.Title</p>
    </header>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year  @Html.ActionLink("Task5 - Pershukevich", "Index", "Home")</p>
    </footer>
    </div>
</body>
</html>
